<table>
    <thead>
        <th style="width: 7.5%;"></th>
        <th style="width: 80%;"></th>
        <th style="width: 12.5%;"></th>
    </thead>
    <tbody>
        <% for(var i=0; i<dishes.length; i++) {%>
            <tr>
                <td><%=i+1%></td>
                <td><%=dishes[i].name%></td>
                <td><%=dishes[i].price%></td>
                <td><%=dishes[i].state%></td>
            </tr>
        <% });%>
    </tbody>
</table>

<h1>Agregar Plato</h1>
<form method="POST" action="/dish">
    <label>Nombre del Plato: </label>
    <input type="text" name="name">
    <label>Precio : </label>
    <input type="number" name="price"> 
    <input type="submit" value="Agregar">
</form>